# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Env
env.sh

# Vercel
.vercel

# dependencies
**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage

# build dirs
**/.next/
**/out/
**/dist
.manifest.json

# In a bridge API we commit the builds
# so packs don't have to run it and versions
# of a bridge are more deterministic
# **/build

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*